# Telegram Bot
BOT_TOKEN=ваш_токен
ADMIN_IDS=123456789,987654321
PROVIDER_TOKEN=

# Database
DATABASE_URL=postgresql+asyncpg://user:pass@host:5432/db
# или отдельные параметры
DB_HOST=localhost
DB_PORT=5432
DB_NAME=vpn_bot
DB_USER=postgres
DB_PASS=password

# 3x-ui Panel
XUI_HOST=https://87.242.86.245:49828/bJGC3webPGJwCrGw5e
XUI_USERNAME=zmfJGlol8h
XUI_PASSWORD=qZPX8SHumS

# VPN Server Settings
VPN_SERVER_IP=87.242.86.245
VPN_REALITY_PUBLIC_KEY=NnIZ6QgJpOYfL7K7NuS4lWuDNdhRNOQlshTf6SK4O2Y
VPN_REALITY_SHORT_ID=9020f7
VPN_REALITY_SNI=www.cloudflare.com

# Mode (False = реальный VPN, True = тестовый режим)
MOCK_MODE=False
